modules = ["cpp-clang14"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44603238
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -std=c++17 -O2 -o rubiks_solver main.cpp RubiksCube.cpp math.cpp NibbleArray.cpp PatternDatabase.cpp CornerPatternDatabase.cpp CornerDBMaker.cpp"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./rubiks_solver"
